In [23]:
# Importing the libraries
import pandas as pd
import numpy as np

In [24]:
#Read the data
hr_data = pd.read_csv("D://Sem 3//Hemlata Maam//HR Data set//hr_data.csv")

In [25]:
hr_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8995 entries, 0 to 8994
Data columns (total 18 columns):
SLNO                           8995 non-null int64
Candidate Ref                  8995 non-null int64
DOJ Extended                   8995 non-null object
Duration to accept offer       8995 non-null int64
Notice period                  8995 non-null int64
Offered band                   8995 non-null object
Pecent hike expected in CTC    8995 non-null float64
Percent hike offered in CTC    8995 non-null float64
Percent difference CTC         8995 non-null float64
Joining Bonus                  8995 non-null object
Candidate relocate actual      8995 non-null object
Gender                         8995 non-null object
Candidate Source               8995 non-null object
Rex in Yrs                     8995 non-null int64
LOB                            8995 non-null object
Location                       8995 non-null object
Age                            8995 non-null int64
Status                         8995 non-null object
dtypes: float64(3), int64(6), object(9)
memory usage: 1.2+ MB

In [26]:
#Display the data
hr_data.iloc[0:10, :]

,SLNO,Candidate Ref,DOJ Extended,Duration to accept offer,Notice period,Offered band,Pecent hike expected in CTC,Percent hike offered in CTC,Percent difference CTC,Joining Bonus,Candidate relocate actual,Gender,Candidate Source,Rex in Yrs,LOB,Location,Age,Status
0,1,2110407,Yes,14,30,E2,-20.79,13.16,42.86,No,No,Female,Agency,7,ERS,Noida,34,Joined
1,2,2112635,No,18,30,E2,50.00,320.00,180.00,No,No,Male,Employee Referral,8,INFRA,Chennai,34,Joined
2,3,2112838,No,3,45,E2,42.84,42.84,0.00,No,No,Male,Agency,4,INFRA,Noida,27,Joined
3,4,2115021,No,26,30,E2,42.84,42.84,0.00,No,No,Male,Employee Referral,4,INFRA,Noida,34,Joined
4,5,2115125,Yes,1,120,E2,42.59,42.59,0.00,No,Yes,Male,Employee Referral,6,INFRA,Noida,34,Joined
5,6,2117167,Yes,17,30,E1,42.83,42.83,0.00,No,No,Male,Employee Referral,2,INFRA,Noida,34,Joined
6,7,2119124,Yes,37,30,E2,31.58,31.58,0.00,No,No,Male,Employee Referral,7,INFRA,Noida,32,Joined
7,9,2127572,Yes,16,0,E1,-20.00,-20.00,0.00,No,No,Female,Direct,8,Healthcare,Noida,34,Joined
8,11,2138169,No,1,30,E1,-22.22,-22.22,0.00,No,No,Female,Employee Referral,3,BFSI,Gurgaon,26,Joined
9,12,2143362,No,6,30,E1,240.00,220.00,-5.88,No,No,Male,Employee Referral,3,CSMP,Chennai,34,Joined

In [27]:
# Sort null values in ascending order
hr_data.isnull().sum().sort_values(ascending=False)

Status                         0
Age                            0
Candidate Ref                  0
DOJ Extended                   0
Duration to accept offer       0
Notice period                  0
Offered band                   0
Pecent hike expected in CTC    0
Percent hike offered in CTC    0
Percent difference CTC         0
Joining Bonus                  0
Candidate relocate actual      0
Gender                         0
Candidate Source               0
Rex in Yrs                     0
LOB                            0
Location                       0
SLNO                           0
dtype: int64

In [28]:
#Display the column names
hr_data.columns

Index(['SLNO', 'Candidate Ref', 'DOJ Extended', 'Duration to accept offer',
       'Notice period', 'Offered band', 'Pecent hike expected in CTC',
       'Percent hike offered in CTC', 'Percent difference CTC',
       'Joining Bonus', 'Candidate relocate actual', 'Gender',
       'Candidate Source', 'Rex in Yrs', 'LOB', 'Location', 'Age', 'Status'],
      dtype='object')

In [29]:
# Import Logistic Regression/Label encoder/train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [30]:
#label encode the target variable

from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
hr_data['DOJ Extended']= label_encoder.fit_transform(hr_data['DOJ Extended'])

from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
hr_data['Offered band']= label_encoder.fit_transform(hr_data['Offered band'])

from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
hr_data['Joining Bonus']= label_encoder.fit_transform(hr_data['Joining Bonus'])

from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
hr_data['Candidate relocate actual']= label_encoder.fit_transform(hr_data['Candidate relocate actual'])

from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
hr_data['Gender']= label_encoder.fit_transform(hr_data['Gender'])

from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
hr_data['Candidate Source']= label_encoder.fit_transform(hr_data['Candidate Source'])

from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
hr_data['LOB']= label_encoder.fit_transform(hr_data['LOB'])

from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
hr_data['Location']= label_encoder.fit_transform(hr_data['Location'])

from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
hr_data['Status']= label_encoder.fit_transform(hr_data['Status'])

print(hr_data.head())

   SLNO  Candidate Ref  DOJ Extended  Duration to accept offer  Notice period  \
0     1        2110407             1                        14             30
1     2        2112635             0                        18             30
2     3        2112838             0                         3             45
3     4        2115021             0                        26             30
4     5        2115125             1                         1            120

   Offered band  Pecent hike expected in CTC  Percent hike offered in CTC  \
0             2                       -20.79                        13.16
1             2                        50.00                       320.00
2             2                        42.84                        42.84
3             2                        42.84                        42.84
4             2                        42.59                        42.59

   Percent difference CTC  Joining Bonus  Candidate relocate actual  Gender  \
0                   42.86              0                          0       0
1                  180.00              0                          0       1
2                    0.00              0                          0       1
3                    0.00              0                          0       1
4                    0.00              0                          1       1

   Candidate Source  Rex in Yrs  LOB  Location  Age  Status
0                 0           7    4         8   34       0
1                 2           8    7         2   34       0
2                 0           4    7         8   27       0
3                 2           4    7         8   34       0
4                 2           6    7         8   34       0

In [31]:
# Drop coulmns from a data frame in pandas

hr = hr_data.drop(['SLNO', 'Candidate Ref',], axis=1)

In [32]:
from sklearn.model_selection import train_test_split
y = hr["Status"]
X = hr.drop(['Status'], axis=1)
# Splitting the data into training and testing set

X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   test_size = 0.2,
                                                   random_state = 123)
X.shape

(8995, 15)

In [33]:
# Import logisticRegression
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

# Fitting logistic regression with default parameter values
LogisticRegression = LogisticRegression()
LogisticRegression.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [34]:

LogisticRegression.score(X_test,y_test)

0.8104502501389661

In [35]:
print(regressor.intercept_)

0.39041613537435305

In [36]:
y_pred = LogisticRegression.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [37]:
#Printing the actual value with the presicted value
hr = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
hr

      Actual  Predicted
4341       0          0
7743       1          0
4838       0          0
7116       0          0
3074       0          0
3720       0          0
4844       0          0
4027       0          0
827        0          0
6875       0          0
1018       0          0
4755       0          1
4555       0          0
1335       0          0
6730       0          0
2929       1          0
1877       0          0
3644       0          0
4138       1          0
799        0          0
1986       0          0
5007       0          0
4114       0          0
2983       0          0
8491       0          0
8741       0          0
1174       1          0
4652       0          0
1509       0          0
8018       1          0
...      ...        ...
6734       0          0
1146       1          0
3124       1          0
602        1          0
4205       0          0
1285       0          0
2711       0          0
3429       0          0
1067       0          0
7956       0          0
8239       0          0
2513       0          0
3340       0          0
3009       0          0
8645       0          0
2752       0          1
5647       0          0
809        0          0
3027       1          0
8169       0          0
7936       0          0
5367       0          0
4316       1          0
8238       0          0
6995       1          0
7798       1          0
673        0          0
6183       0          0
3371       0          0
3890       0          0

[1799 rows x 2 columns]

In [38]:
# Import Confusion matrix
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

#Using the trained model to predict instances from the test set
y_pred = LogisticRegression.predict(X_test)

# Getting the accuracy score of predictive model
print("Logistic Regression classifier has accuracy of: ", LogisticRegression.score(X_test,y_test))

#Evaluate the confusion Matrix
confusion_matrix(y_test, y_pred)

Logistic Regression classifier has accuracy of:  0.8104502501389661

array([[1439,   22],
       [ 319,   19]], dtype=int64)

In [17]:
# now lets try checking the accuracy using stats model

In [39]:
#import statsmodel.api as sm
from statsmodels import api as sm
from sklearn.model_selection import train_test_split

# Splitting the data into training and testing set

X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   test_size = 0.2,
                                                   random_state = 123)
X.shape


x = sm.add_constant(hr)

In [40]:
hr_model_1 = sm.OLS(y_train, X_train).fit()
hr_model_1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Status   R-squared:                       0.253
Model:                            OLS   Adj. R-squared:                  0.251
Method:                 Least Squares   F-statistic:                     161.7
Date:                Mon, 04 Nov 2019   Prob (F-statistic):               0.00
Time:                        14:41:29   Log-Likelihood:                -3126.4
No. Observations:                7196   AIC:                             6283.
Df Residuals:                    7181   BIC:                             6386.
Df Model:                          15
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
DOJ Extended                   -0.0263      0.009     -2.791      0.005      -0.045      -0.008
Duration to accept offer     8.499e-05      0.000      0.433      0.665      -0.000       0.000
Notice period                   0.0035      0.000     16.605      0.000       0.003       0.004
Offered band                   -0.0248      0.011     -2.217      0.027      -0.047      -0.003
Pecent hike expected in CTC     0.0009      0.001      1.593      0.111      -0.000       0.002
Percent hike offered in CTC    -0.0008      0.001     -1.337      0.181      -0.002       0.000
Percent difference CTC          0.0005      0.001      0.574      0.566      -0.001       0.002
Joining Bonus                   0.0323      0.022      1.500      0.134      -0.010       0.074
Candidate relocate actual      -0.1987      0.013    -15.495      0.000      -0.224      -0.174
Gender                          0.0305      0.012      2.617      0.009       0.008       0.053
Candidate Source               -0.0372      0.007     -5.537      0.000      -0.050      -0.024
Rex in Yrs                      0.0029      0.003      1.038      0.299      -0.003       0.008
LOB                            -0.0028      0.002     -1.322      0.186      -0.007       0.001
Location                       -0.0051      0.002     -3.231      0.001      -0.008      -0.002
Age                             0.0045      0.001      6.981      0.000       0.003       0.006
==============================================================================
Omnibus:                     1353.255   Durbin-Watson:                   1.971
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2268.196
Skew:                           1.364   Prob(JB):                         0.00
Kurtosis:                       3.347   Cond. No.                         430.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [53]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm
def get_vif_factors(x):
    x_values = x.values()
    vif = [variance_inflation_factor( x_values, i) for i in range
           (x_values.shape[1])]
    vif_factors = pd.DataFrame()
    vif_factors['column'] = x.columns
    vif_factors['VIF'] = vif
    return vif_factors

In [54]:
pd.Series([variance_inflation_factor(x.values, i) 
               for i in range(x.shape[1])], 
              index=x.columns)

const        1.241649
Actual       1.011740
Predicted    1.011740
dtype: float64